  <!-- content -->
<%- include("../partials/admin_header") -%>
<div class="container-fluid content-top-gap">
<form action="/update_user" action="POST">
  <input type="hidden" name="<%= doc._id %>">
<div class="row">
    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
      <div class="card" style="width: 100%; text-center">
        <h1 class="text-center"><%= doc.name %></h1><hr>
        <div class="card-body">
          <h6 class="card-title">Name: <span class="text-info"><%= doc.name %></span></h6>
          <h6 class="card-title">Last Name:  <span class="text-info"><%= doc.last_name %></span></h6>
          <h6 class="card-title">Phone Number: <span class="text-info"><%= doc.phone %></span></h6>
          <h6 class="card-title">Loan Amount: <span class="text-info"><%= doc.loan_amount %></span></h6>
          <div class="form-group">
            <label for="">Change Status</label>
            <select name="status" value="<%= doc.status %>" id="">
              <option value="pending">pending</option>
              <option value="approved">Approved</option>
              <option value="decline">Decline</option>
            </select>
          </div>
          <h6 class="card-title">Email: <span class="text-info"><%= doc.email %></span></h6>
          <h6 class="card-title">Country: <span class="text-info"><%= doc.country %></span></h6>
          <h6 class="card-title">Yearly Income: <span class="text-info"><%= doc.yearly_income %></span></h6>
          <h6 class="card-title">Purpose: <span class="text-info"><%= doc.purpose %></span></h6>
          <h6 class="card-title">Estimated Credit Score: <span class="text-info"><%= doc.estimated_credit_score%></span></h6>
          <h6 class="card-title">Date of Birth: <span class="text-info"><%= doc.date_of_birth %></span></h6>
          <h6 class="card-title">Street Address: <span class="text-info"><%= doc.street_address %></span></h6>
          <h6 class="card-title">Unit Number: <span class="text-info"><%= doc.unit_number %></span></h6>
          <h6 class="card-title">Zip Code: <span class="text-info"><%= doc.zip_code %></span></h6>
          <h6 class="card-title">Housing Payment <span class="text-info"><%= doc.housing_payment %></span></h6>
          <input type="submit" class="btn btn-info" value="Done">
      </div>
    </div>
  <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
</div>
</form>
</div>
<%- include("../partials/admin_footer") -%>